.home {
  &__wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__title {
    font-size: var(--home-title);
  }
  &__desc {
    font-size: var(--home-desc);
    margin: 1rem 0;
  }
}
